﻿@model resitproject_new.Models.ChairRequest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChairRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SpecificChair.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecificChair.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Synagogue.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Synagogue.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isTempRequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isTempRequest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfChairs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfChairs)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
