﻿@model IEnumerable<resitproject_new.Models.ChairRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SpecificChair.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Synagogue.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isTempRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumOfChairs)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SpecificChair.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Synagogue.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isTempRequest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ForDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumOfChairs)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
