﻿@model resitproject_new.Models.ChairsUserViewModel

@{
    ViewBag.Title = "CreateUser";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.User.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Chairs, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Chairs, new SelectList(ViewBag.chairsList), new { multiple = "multiple" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="CreateUser" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div id="mapContainer"></div>
<div>
    @Html.ActionLink("Back to List", "GetAllUsers")
</div>

@section Scripts {
    @Styles.Render("~/Content/ShabatPickerComponent.css")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/lib/ChairsMapHandler.js")
    @Scripts.Render("~/Scripts/lib/ShabatsProvider.js")
    @Scripts.Render("~/Scripts/lib/ShabatPickerComponent.js")
    @Scripts.Render("~/Scripts/lib/AbsenceFormHandler.js")

    <script>
        $(document).ready(() => {
            //const allChairs = JSON.parse('@Html.Raw(Json.Encode(ViewBag.allChairs))');
            //const selectableChairsSerialNumbers = JSON.parse('@Html.Raw(Json.Encode(ViewBag.chairsNumbersOptions))');

            //const absenceFormHandler = new AbsenceFormHandler(allChairs, selectableChairsSerialNumbers);
            //absenceFormHandler.handleForm();


            const allChairs = JSON.parse('@Html.Raw(Json.Encode(ViewBag.allChairs))');
            const selectableChairsSerialNumbers = JSON.parse('@Html.Raw(Json.Encode(ViewBag.chairsNumbersOptions))');

            const absenceFormHandler = new AbsenceFormHandler(allChairs, selectableChairsSerialNumbers);
            absenceFormHandler.handleForm();


        });

    </script>
}
