﻿@model resitproject_new.Models.ChairsUserViewModel

@{
    ViewBag.Title = "הסר מתפלל";
}


<h3>?האם אתה בטוח שברצונך להסיר מתפלל</h3>
<div>
    <h4>Synagogue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chairs)
        </dt>

        <dd>
            @{
                var chairs = "";
                foreach (var chair in Model.Chairs)
                {
                    chairs += chair + ",";
                }
                chairs = chairs.Substring(0, chairs.Length - 1);

            }
        </dd>

    </dl>
    
    @using (Html.BeginForm( "DeleteUser", "SynagogueManager", routeValues: new { userId = Model.User.Id,  synagogueId = ViewBag.synagogueId },method: FormMethod.Post ))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("חזור לרשימת מתפללים", "GetAllUser", new { synagogueId = ViewBag.synagogueId })
        </div>
    }
</div>


