﻿<head>
    <link rel='stylesheet' type='text/css' href='~/Content/GetallUsers.css'>
</head>
@model IEnumerable<resitproject_new.Models.ChairsUserViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>מתפללים קבועים</h2>

<p>
    @Html.ActionLink("Create New", "CreateUser", new { synagogueId = ViewBag.synagogueId }, new { synagogueId = ViewBag.synagogueId })
</p>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        <input type="text" id="search1" placeholder="Search">
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.Chairs)
            </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr class="stl">
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td> 
        <td>
            @{
                var chairs = "";
                foreach (var chair in item.Chairs)
                {
                    chairs += chair + ",";
                }
                chairs = chairs.Substring(0, chairs.Length - 1);
                <p>@chairs</p>
            }
            
        </td>
        <td>
            @*@Html.ActionLink("EditUser", "Edit", new { userId = item.User.Id }) |*@
            
            @Html.ActionLink("Delete", "DeleteUser", new { userId = item.User.Id, synagogueId = ViewBag.synagogueId})
        </td>
    </tr>
    }

</table>
<div class="UploadUsers">
    @using (Html.BeginForm("UploadUsers", "Synagogues", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <h6>טען מתפלללים מקובץ</h6>
        <div class="uploadusers">

            @{
                if (Model != null)
                {
                    @Html.TextBox("file", "", new { type = "file" }) <br />

                    <input type="hidden"
                           name="synagogueId"
                           value="@ViewBag.synagogueId">
                    <input class="inputfile" type="submit" value="UploadUsers" />
                }
            }


            @ViewBag.Message

        </div>


                }
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        function ts(t1, t2) {
            if (t1.indexOf(t2) != -1)
                return true;
            else
                return false;
        }
        $("#search1").keyup(function () {
            var st = $("#search1 ").val().toLowerCase();
            $(".stl").each(function () {
                if (!ts($(this).text().toLowerCase(), st)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });

        });
    });
</script>
<script>
    $(document).ready(function () {
        $("table").css({ "background-color": "burlywood" });
    });
</script>
