﻿﻿<link rel='stylesheet' type='text/css' href='~/Content/ManagerHomePage.css'>
@model resitproject_new.Models.Synagogue
@{
    ViewBag.Title = Model.Name;
}


<h3>
    @Html.DisplayFor(model => model.Name)
</h3>
<div class="multycolman">
    
    <div class="divlist1">
        <ul class="list1" style="list-style-type:none;border:1px #000000;width:100px; margin-left:475px;
border-color:antiquewhite !important;background-color:lightgray;border-top-left-radius:22px;border-top-right-radius:18px;
color:darkslategray;font-family:Arial;font-weight: bold;font-size:15px">
         
            <li>לא תרצח </li>
            <li>לא תנאף</li>
            <li>לא תגנב</li>
            <li>לא תענה </li>
            <li>לא תחמד</li>
        </ul>
    </div>
    <div class="divlist2">
        <ul class="list2" style="list-style-type:none;border:1px #000000;width:100px;margin-right:475px;border-color:antiquewhite !important
    ;background-color:lightgray;border-top-left-radius:22px;border-top-right-radius:22px;color:darkslategray;
     font-family:Arial;font-weight: bold;font-size:15px;text-align:center;">
            <li>אנכי ה</li>
            <li>לא יהיה</li>
            <li>לא תשא </li>
            <li>זכור את</li>
            <li>כבד את</li>
        </ul>
    </div>
    </div>
<div class="table">
    <table class="tablemenue">
        <tr>
            <th>
                <div>
                    @Html.ActionLink("פרטי בית הכנסת ", "Details", "Synagogues", new { id = Model.Id }, new { id = Model.Id })
                </div>
            </th>
            <th>
                <div>
                    @Html.ActionLink("הצג מפה", "GetChairs", "Synagogues", new { SynagogueId = Model.Id }, new { SynagogueId = Model.Id })
                </div>
            </th>
            <th>
                <div>
                    @Html.ActionLink("הצג מתפללים", "GetAllUsers", new { SynagogueId = Model.Id }, new { SynagogueId = Model.Id })
                </div>
            </th>

            <th>
                <div>
                    @Html.ActionLink("חיסורים", "Index", "Absences", new { SynagogueId = Model.Id }, new { SynagogueId = Model.Id })
                </div>
            </th>
            <th>
                <div>
                    @Html.ActionLink("סטיסטיקה", "Statistics", "SynagogueManager", new { SynagogueId = Model.Id }, new { SynagogueId = Model.Id })
                </div>
            </th>

        </tr>

    </table>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/lib/ShabatsProvider.js"></script>
<script>
   
</script>
 



