﻿@model IEnumerable<resitproject_new.Models.StatisticsViewModel>

<div id="statistics-main">

    @foreach (var item in Model)
    {
        <div class="statistics-header">
            @Html.DisplayFor(modelItem => item.HebrewTitle)
        </div>
        <svg class="statistics-graph" id="@item.Title"></svg>

    }
</div>

@section Scripts {
    @Styles.Render("~/Scripts/d3/d3.css")
    @Scripts.Render("~/Scripts/d3/d3.v3.min.js")
    @Scripts.Render("~/Scripts/d3/d3-resit.js")
    <script>
            var data = JSON.parse('@Html.Raw(Json.Encode(Model))')
            for (var i = 0; i < data.length; i++) {
                createHisogram(data[i].Title, data[i]);
            }
    </script>


}
