﻿body {
}

h6 {
    color: #000000 !important;
    font-size: 15px !important;
    text-align: center !important;
    font-family:Bitstream Vera Serif Bold;
}
h2{

     color:darkgoldenrod;
    margin: 0 auto;
    background-color:ghostwhite;
    margin-top:20px!important;
}

.uploadusers {
    text-align: center !important;
}

.inputfile {
    text-align: center !important;
}

#file {
    text-align: center !important;
    margin: 0 auto;
}
 @font-face {
      font-family: "Bitstream Vera Serif Bold";
      src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
    }