﻿body {
    background-color:#e9e0d5;
}

#mapContainer {
    margin: 0 auto;
    margin-top: 50px !important;
}

.Uploadmap {
    text-align: center;
    background-color: antiquewhite;
    margin: 0 auto;
    margin-top: 50px;
}

.buttonUpload {
    text-align: center;
    margin: 0 auto;
}

.btn_up {
    text-align: center;
    margin: 0 auto;
}

#file {
    text-align: center;
    margin: 0 auto;
   
}
