﻿
    .jumbotron h1,
.jumbotron .h1 {
    color: burlywood;
    text-align: center;
}

.jumbotron {
    background-color: cadetblue;
    margin-bottom: auto;
    border-radius: 0px !important;
    line-height:10px!important;
   
}
    .col-md-4 h2,
.col-md-4 .h2 {

    text-align: center;
    color: brown !important;
    border-color:burlywood;
   text-shadow:none!important;
   font-family:Arial;
   font-weight:800;
    
}

.col-md-4 {
    text-align: center;
    background-color: antiquewhite;
    color: brown;
    border: 1px solid;
    border-color:burlywood;
    height:180px !important; 
    
}

.btn-default {
    background-color:transparent !important;
    border-color:antiquewhite !important;
    color:brown;
}

.navbar-inverse {
    background-color:antiquewhite;
    border-color:burlywood !important;
    border:1px solid;
}
body{
    background-color:antiquewhite;
}
.row{
   margin-right:2px!important;
   margin-left:2px;
   line-height:180px!important;

    
}



