﻿body {background-color: antiquewhite!important;
  
}
.col-md-10{background-color:antiquewhite!important}
.form-control{background-color:cornflowerblue !important}
h2{
    color:blue !important;
    text-align:center;
    font-family:Arial;
}
.col-md-2 control-label{
   
}
.col-md-8{
     margin-left:300px!important;
    color:blue;
}
.avtar{
    margin-left:500px!important;
    line-height:150px;
    width:150px;
    background-image: url('login_p.jfif')!important;
    margin-top:30px;
      
}