﻿body {
    background-color:#e9e0d5;
}
h3{
 
    text-shadow: 2px 2px #0094ff;
    text-align:center;
    font-size:45px;
    font-family:Arial;
}
.tablemenue th{
    width:200px;
    border:5px solid;
    border-radius:3px;
    border-color:antiquewhite !important;
    width:200px;
    height:200px;
    text-align:center;
    background-color:linen;
    margin-bottom:100px;

}
.tablemenue{
    text-align:center;
    margin-left:150px;
}
.table{
 -webkit-transition: width 2s;
  transition: width 2s;
  text-align:center;
}
.table:hover {
  width: 300px;
}
.multycolman{
      text-align:center;
     -webkit-column-count: 2;
      margin-top:25px;
      
}
.lis2{
    float:right;
    margin-left:80px;
    border:1px solid;
    border-top-left-radius:3px;
    border:5px solid;
    border-radius:3px;
    border-color:lightblue!important;
}
.lis1{
    border:5px solid;
    border-radius:3px;
    border-color:lightblue;
    margin-left:80px;
}
.divlis2{
    float:right;
    margin-left:80px;
    border:1px solid;
    border-top-left-radius:3px;
    border:5px solid;
    border-radius:3px;
    border-color:lightblue!important;
    background-color:brown;
}
.divlis1{
    
    margin-left:80px;
}