﻿#ShabatPickerComponent {
    display: flex;
    flex-direction: row;
    align-items: center center;
}

#ShabatPickerComponent button[disabled] .glyphicon {
    color: gainsboro;
}

#ShabatPickerComponent p {
    text-align: center;
}

#ShabatPickerComponent div {
    width: 120px;
}

#ShabatPickerComponent button {
    background-color: transparent;
    border-color: transparent;
}

    
