﻿body {
    padding-top:100px;
    margin-left:200px;
    margin-right:199px;    
}
h2{
    color:darkgoldenrod;
    margin: 0 auto;
    background-color:ghostwhite;
    text-align: center!important;
}