﻿body {
    background-color:#e9e0d5;
}
.dl-horizontal{
    float:right!important;
    text-align:right!important;
}
.dl-horizontal dt{
    color:#0094ff;
    font-weight:200;
    text-align:center!important;

}
.dl-horizontal dd{
     color:#000000;
    font-weight:800;
    text-align:right!important;
    padding-right:20px!important;
}
.details{
    text-align:center;
    background-color:antiquewhite;
    float:right!important;
    margin-right:200px;
    width:400px!important;
    margin-top:200px!important;
}
.glyphicon-hd-video{
    margin-top:200px!important;

}