﻿@model resitproject_new.Models.Synagogue

@{
    ViewBag.Title = "Details";
}
<link rel='stylesheet' type='text/css' href='~/Content/SynagogueDetails.css'>
<div class="details">
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model.Name)
        </dd>
        <dt>
           @Html.DisplayFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manager.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manager.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager.Email)
        </dd>
    </dl>
</div>

<div class="glyphicon-hd-video">
    <video width="320" height="240" controls>
        <source src="@Model.VideoPath" type="video/mp4">
    </video>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
