﻿@model resitproject_new.Models.Synagogue

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm(Html.BeginForm("Edit", "Synagogues", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Synagogue</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="hidden" name="Lon" id="Lon" value="" />

        <input type="hidden" name="Lat" id="Lat" value="" />
        <input type="hidden" name="Address" id="Address" value="" />
        <div id="mapid" style="
        height: 300px;
        position: relative;
        width: 50%;
        margin-bottom: 15px;">
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VideoPath, htmlAttributes: new { @class = "control-label col-md-2" })
            <input type="file" name="video" /><br /><br />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script>
        $(function () {

            let map = L.map('mapid')
                .setView([32.460419, 35.058041], 15);

            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map)

            const provider = new window.GeoSearch.OpenStreetMapProvider();

            new window.GeoSearch.GeoSearchControl({
                provider,
                showMarker: false,
                style: 'bar',
                autoClose: true
            }).addTo(map);

            const model = @Html.Raw(Json.Encode(Model));
            let currentPosition = L.marker([model.Lat, model.Lon]).addTo(map);

            map.on('click', (e) => {
                if (currentPosition)
                    map.removeLayer(currentPosition)
                currentPosition = new L.marker(e.latlng).addTo(map);
                const lat = e.latlng.lat;
                const lon = e.latlng.lng;
                let address;
                $.get(`https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=${lat}&lon=${lon}`, function (data) {
                    address = data.display_name;
                    $('#Lon').val(lon);
                    $('#Lat').val(lat);
                    $('#Address').val(address);
                });
            });
        })
    </script>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
