﻿@model resitproject_new.Models.Synagogue
@*@model  IEnumerable<Resit_Project.Models.Chair>*@
@{
    ViewBag.Title = "GetChairs";
}

<head>
    <link rel='stylesheet' type='text/css' href='~/Content/GetChairs.css'>
</head>
@*<h2>@Html.DisplayFor(model => model.ToArray()[0].Synagogue.Name)</h2>*@
<h3>מפת בית הכנסת</h3>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/lib/ChairsMapHandler.js"></script>
<div>
    <div id="mapContainer"></div>
    <script type="text/javascript">
        const chairs = JSON.parse('@Html.Raw(Json.Encode(Model.Chairs))');
        const map = new ChairsMapHandler();
        map.createChairsMap("mapContainer", chairs);
    </script>
   
</div>

@{ if (ViewBag.isManager)
    {
<div class="Uploadmap">
    @using (Html.BeginForm("UploadChairs", "Chairs", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <h4>טען מפה מקובץ</h4>
        <div class="buttonUpload">
            @{
                if (Model != null)
                {
                    @Html.TextBox("file", "", new { type = "file" }) <br />
                    <input type="hidden"
                           name="synagogueId"
                           value="@Html.Raw(Model.Id)">
                    <input class="btn_up" type="submit" value="UploadChairs" />
                }
            }

        </div>
    }
</div>
    }
}



