﻿<head>
    <link rel='stylesheet' type='text/css' href='~/Content/Synagoues.css'>
</head>
@model IEnumerable<resitproject_new.Models.Synagogue>

@{
    ViewBag.Title = "Index";
}

<h2>בתי כנסת</h2>

<p>
    @Html.ActionLink("Create New synagogue", "Create")
</p>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        <input type="text" id="search1" placeholder="Search">
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="stl">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<div id="mapid" style="
        height: 300px;
        position: relative;
        width: 50%;
        margin-bottom: 15px;">
</div>

@section Scripts
{
    <script>
        $(function () {

            let map = L.map('mapid')
                .setView([32.460419, 35.058041], 15);

            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map)
            const model = @Html.Raw(Json.Encode(Model));
            model.forEach(sy => L.marker([sy.Lat, sy.Lon]).addTo(map))
    })
    </script>
    <script>
        $(document).ready(function () {
            function ts(t1, t2) {
                if (t1.indexOf(t2) != -1)
                    return true;
                else
                    return false;
            }
            $("#search1").keyup(function () {
                var st = $("#search1 ").val().toLowerCase();
                $(".stl").each(function () {
                    if (!ts($(this).text().toLowerCase(), st)) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });

            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("table").css({ "background-color": "burlywood" });
        });
    </script>
}

