﻿@model resitproject_new.Models.Synagogue

@{
    ViewBag.Title = "UploadFile";
}

<h2>טען מתפלללים מקובץ</h2>
<h3>
    @Html.DisplayFor(model => model.Name)
</h3>
@using (Html.BeginForm("UploadUsers", "Synagogues", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

<div>

    @{
        if (Model != null)
        {
            @Html.TextBox("file", "", new { type = "file" }) <br />

            <input type="hidden"
                   name="synagogueId"
                   value="@Html.Raw(Model.Id)">
            <input type="submit" value="UploadUsers" />
        }
    }


    @ViewBag.Message

</div>


}  