﻿@model resitproject_new.Models.Synagogue

@{
    ViewBag.Title = " העלה קובץ";
}

<h2>UploadFile</h2>
<h3>
    @Html.DisplayFor(model => model.Name)
</h3>

@using (Html.BeginForm("UploadChairs", "Chairs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h1></h1>
    <div>
        @{
            if (Model != null)
            {
                @Html.TextBox("file", "", new { type = "file" }) <br />
                <input type="hidden"
                       name="synagogueId"
                       value="@Html.Raw(Model.Id)">
                <input type="submit" value="UploadChairs" />
                }
            }
                @ViewBag.Message

            </div>


}  