﻿@{
    ViewBag.Title = "Home Page";
}
<head><link rel='stylesheet' type='text/css' href='Content\homePage.css'></head>
<div class="jumbotron"style="height:200px">
    <h1>Welcome</h1>
</div>
<div class="jumbotron" style="background:url('../../Content/shool.png'); border:1px solid;border-color:darkkhaki; height:250px" ></div>
<div class="row">
    <div class="col-md-4">
        <h2>עמוד מנהל </h2>
        <p><a class="btn btn-default" href="SynagogueManager"> <<>></a></p>
    </div>
    <div class="col-md-4" style="background-color:bisque;">
        <h2>בית כנסת </h2>
        <p></p>
        <p><a class="btn btn-default" href="Synagogues/index"> <<>></a></p>
    </div>
    <div class="col-md-4">
        <h2>דיווח חיסורים</h2>
        <p></p>
        <p><a class="btn btn-default" href="Absences/Create"><<>></a></p>
    </div>
</div>
<div class="jumbotron" style="background-color:cadetblue;height:80px !important"></div>
 
