﻿@model resitproject_new.Models.AbsenceViewModel

@{
    ViewBag.Title = "Details";
}

<h2>פרטים</h2>

<div>
    <h4>פרטי הכסא שדווח כפנוי</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Synagogue.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Synagogue.Name)
        </dd>

        <dt>
            מספרי כסאות
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chairs)
        </dd>

        <dt>
            שם בעל הכסא
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd class="parasha-date">
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<div id="mapContainer"></div>
<p>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken()
    }
    @Html.ActionLink("ערוך", "Edit", new { id = Model.Id }) |
    <a href="#/Absences/Delete/@Model.Id" class="delete-link">מחק</a>
    @{ if (ViewBag.isManager)
        {
            @: |
            @Html.ActionLink("חזרה לרשימה", "Index");
        }
    }

</p>

@section Scripts {
    @Scripts.Render("~/Scripts/lib/ChairsMapHandler.js")
    @Scripts.Render("~/Scripts/lib/DeleteAbsenceHandler.js")
    @Scripts.Render("~/Scripts/lib/ShabatsProvider.js")
    @Scripts.Render("~/Scripts/lib/DateParashaSubstituter.js")
    <script>
        $(document).ready(() => {
            // show chairs map
            const selectedChairColor = "red";
            const allChairs = JSON.parse('@Html.Raw(Json.Encode(ViewBag.allChairs))');
            const selectedChairs = JSON.parse('@Html.Raw(Json.Encode(ViewBag.selectedChairs))');
            const map = new ChairsMapHandler();
            map.createChairsMap("mapContainer", allChairs, selectedChairs, selectedChairColor);

            // handle delete absence
            const isManager = @Json.Encode(ViewBag.isManager);
            urlToRedirectAfterDelete = isManager ? "/absences/index" : "/absences/create";
            DeleteAbsenceHandler.listenToDeleteClick(".delete-link", urlToRedirectAfterDelete);

            // change dates to parashas
            DateParashaSubstituter.SubstituteDateToParashaForSelector(".parasha-date");
        });
        
    </script>
}
