﻿@model resitproject_new.Models.AbsenceViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>שינוי דיווח על מקום פנוי בשבת</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<div class="form-horizontal">
    <h4>@Model.Synagogue.Name</h4>
    <hr />
    <span id="validation-error" class="text-danger"></span>


    <div class="form-group">
        <label class="control-label col-md-2">בחר שבת</label>
        <div id="ShabatPickerContainer"></div>
    </div>

    <div class="form-group">
        <label for="chairs" class="control-label col-md-2">בחר כסאות פנויים</label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Chairs, new SelectList(ViewBag.chairsNumbersOptions), new { multiple = "multiple" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="submit" type="button" value="עדכן דיווח" class="btn btn-default" />
        </div>
    </div>
</div>


<div id="mapContainer"></div>


@{
    if (ViewBag.isManager)
    {
        <div>
            @Html.ActionLink("חזרה לרשימה", "Index")
        </div>
    }
}


@section Scripts {
    @Styles.Render("~/Content/ShabatPickerComponent.css")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/lib/ChairsMapHandler.js")
    @Scripts.Render("~/Scripts/lib/ShabatsProvider.js")
    @Scripts.Render("~/Scripts/lib/ShabatPickerComponent.js")
    @Scripts.Render("~/Scripts/lib/AbsenceFormHandler.js")
    <script>
        $(document).ready(() => {
            const allChairs = JSON.parse('@Html.Raw(Json.Encode(ViewBag.allChairs))');
            const selectableChairsSerialNumbers = JSON.parse('@Html.Raw(Json.Encode(ViewBag.chairsNumbersOptions))');
            const absenceDate = "@Model.Date";
            const selectedChairsSerialNumbers = [@Model.Chairs];
            const absenceId = @Json.Encode(Model.Id);


            const absenceFormHandler =
                new AbsenceFormHandler(allChairs, selectableChairsSerialNumbers, selectedChairsSerialNumbers, absenceDate);
            absenceFormHandler.handleForm();

            // submit
            const form = $('#__AjaxAntiForgeryForm');
            const token = $('input[name="__RequestVerificationToken"]', form).val();
            $("#submit").click(() => {
                $.ajax({
                    method: "POST",
                    url: "/Absences/Edit",
                    data: {
                        __RequestVerificationToken: token,
                        Id: absenceId,
                        Date: absenceFormHandler.shabatPicker.currentShabat.date,
                        Chairs: absenceFormHandler.selectedChairs
                    },
                    success: (url) => {
                        location.href = url;
                    },
                    error: (err) => {
                        $("#validation-error").text(err.statusText);
                    }
                })
            });
        });

    </script>
}


