﻿@model IEnumerable<resitproject_new.Models.AbsenceViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>מקומות פנויים</h2>

<p>
    @Html.ActionLink("צור דיווח חדש", "Create") |
    @Html.ActionLink("חיזוי", "Prediction")
</p>
<div id="filter-area">
    <h5>סינונים</h5>

    <label for="userName">סנן לפי בעל כסא</label>
    <input type="text" id="userName" placeholder="שם בעל הכסא">
    <button id="submitFilterUserName"><span class="glyphicon glyphicon-filter"></span></button>
    <button type="reset" id="resetUserFilter">נקה</button>
    <br />
    <label>סנן לפי פרשה</label>
    <div id="ShabatPickerInput" style="display:inline-block"></div>
    <button id="submitFilterDate"><span class="glyphicon glyphicon-filter"></span></button>
    <button type="reset" id="resetDateFilter">נקה</button>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
            <button id="sort-by-date" class="sortButton"><span class="glyphicon glyphicon-sort"></span></button>
        </th>
        <th>
            שם בעל הכסא
            <button id="sort-by-user" class="sortButton"><span class="glyphicon glyphicon-sort"></span></button>
        </th>
        <th>
            מספרי כסאות
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="table-row">
            <td class="parasha-date">
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td class="chairs">
                @Html.DisplayFor(modelItem => item.Chairs)
            </td>
            <td>
                @Html.ActionLink("ערוך", "Edit", new { id = item.Id }) |
                @Html.ActionLink("פרטים", "Details", new { id = item.Id }) |
                <a href="#/Absences/Delete/@item.Id" class="delete-link">מחק</a>
            </td>
        </tr>
    }

</table>
<div id="mapContainer"></div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

@section Scripts {
    @Styles.Render("~/Content/AbsencesList.css")
    @Styles.Render("~/Content/ShabatPickerComponent.css")
    @Scripts.Render("~/Scripts/lib/ChairsMapHandler.js")
    @Scripts.Render("~/Scripts/lib/DeleteAbsenceHandler.js")
    @Scripts.Render("~/Scripts/lib/ShabatsProvider.js")
    @Scripts.Render("~/Scripts/lib/DateParashaSubstituter.js")
    @Scripts.Render("~/Scripts/lib/ShabatPickerComponent.js")

    <script>
        $(document).ready(() => {
            // show chairs map
            const absencedChairColor = "red";
            const allChairs = JSON.parse('@Html.Raw(Json.Encode(ViewBag.allChairs))');
            const map = new ChairsMapHandler();
            const chairsWithoutUsers = allChairs.filter(chair => !chair.User);
            let chairsNumsReportedAsAbsenced = [];
            $(".chairs").each((index, element) => {
                const chairsOfReport = $(element).text().split(",").map(num => parseInt(num));
                chairsNumsReportedAsAbsenced = chairsNumsReportedAsAbsenced.concat(chairsOfReport);
            });

            chairsNumsReportedAsAbsenced = [...new Set(chairsNumsReportedAsAbsenced)];
            const chairsReportedAsAbsenced = allChairs.filter(chair =>
                chairsNumsReportedAsAbsenced.some(num => num === chair.SerialNumber));

            const freeChairs = [...chairsReportedAsAbsenced, ...chairsWithoutUsers];
            map.createChairsMap("mapContainer", allChairs, freeChairs, absencedChairColor);

            // handles hovering on rows
            $("tr.table-row").hover(
                (event) => {
                    const rowChairsNums = $(event.currentTarget).find(".chairs").text().split(",").map(num => parseInt(num));
                    const rowChairs = chairsReportedAsAbsenced.filter(chair =>
                        rowChairsNums.some(num => num === chair.SerialNumber));

                    rowChairs.forEach(chair => map.markChair(chair, "blue"));
                },
                (event) => {
                    const rowChairsNums = $(event.currentTarget).find(".chairs").text().split(",").map(num => parseInt(num));
                    const rowChairs = chairsReportedAsAbsenced.filter(chair =>
                        rowChairsNums.some(num => num === chair.SerialNumber));

                    rowChairs.forEach(chair => map.markChair(chair, absencedChairColor));
                },
            );

            // handle delete absence
            DeleteAbsenceHandler.listenToDeleteClick(".delete-link", location.href);

            // change dates to parashas
            DateParashaSubstituter.SubstituteDateToParashaForSelector(".parasha-date");

            // handles user name filter
            const userNameFilter = "@ViewBag.userName";
            $("#userName").val(userNameFilter);
            $("#submitFilterUserName").click(() => {
                addParam("userName", $("#userName").val());
            });


             // handles date filter
            const dateFilterString = "@ViewBag.dateFilter";
            const dateFilter = (dateFilterString !== "") ? new Date(dateFilterString) : null;
            const shabatPicker = new ShabatPickerComponent("ShabatPickerInput", dateFilter, true);
            $("#submitFilterDate").click(() => {
                addParam("dateFilter", shabatPicker.currentShabat.date.substring(0,10));
            });

            document.addEventListener("shabatChanged", (event) => {
                const date = event.detail.date.substring(0, 10);
                $("#dateFilter").val(date);
            });

            // handles reset filters
            $("#resetUserFilter").click(() => {
                removeParam("userName");
            });

            $("#resetDateFilter").click(() => {
                removeParam("dateFilter");
            });


            // handles sorting
            function handleSort(selector, key, value) {
                const query = `${key}=${value}`;

                $(selector).click(() => {
                    if (location.search.includes(query)) {
                        removeParam(key);
                    }
                    else {
                        addParam(key, value);
                    }
                });
            }

            handleSort("#sort-by-date", "sortBy", "date");
            handleSort("#sort-by-user", "sortBy", "user");


            function addParam(key, value) {
                const map = queryStringToMap(location.search);
                map.set(key, value);
                const queryString = mapToQueryString(map);

                redirectToQueryString(queryString);
            }

            function removeParam(key) {
                const map = queryStringToMap(location.search);
                map.delete(key);
                const queryString = mapToQueryString(map);

                redirectToQueryString(queryString);
            }

            function redirectToQueryString(queryString) {
                location.href = `${location.origin}${location.pathname}?${queryString}`;
            }

            function queryStringToMap(query) {
                query = query.replace("?", "");
                if (query == "") {
                    return new Map();
                }
                return new Map(query.split("&").map(param => param.split("=")));
            }

            function mapToQueryString(map) {
                return Array.from(map).map(param => param.join("=")).join("&");
            }
        });
    </script>
}
