﻿@{
    ViewBag.Title = "Prediction";
}

<h2>חיזוי מקום פנוי</h2>



@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<div class="form-horizontal">
    <h4>@ViewBag.synagogueName</h4>
    <hr />
    <span id="validation-error" class="text-danger"></span>


    <div class="form-group">
        <label class="control-label col-md-2">בחר שבת</label>
        <div id="ShabatPickerContainer"></div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">בחר מתפלל</label>
        <input type="text" id="user">
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="submit" type="button" value="שאל" class="btn btn-default" />
        </div>
    </div>
    <div id="response"></div>
</div>
<div id="mapContainer"></div>

<div>
    @Html.ActionLink("חזרה לרשימה", "Index")
</div>



@section Scripts {
    @Styles.Render("~/Content/ShabatPickerComponent.css")
    @Scripts.Render("~/Scripts/lib/ChairsMapHandler.js")
    @Scripts.Render("~/Scripts/lib/ShabatsProvider.js")
    @Scripts.Render("~/Scripts/lib/ShabatPickerComponent.js")
    <script>
        $(document).ready(() => {
            const shabatPicker = new ShabatPickerComponent("ShabatPickerContainer");
            
            const allChairs = JSON.parse('@Html.Raw(Json.Encode(ViewBag.allChairs))');
            const map = new ChairsMapHandler();
            map.createChairsMap("mapContainer", allChairs);
            document.addEventListener("chairClicked", (e) => {
                const chairClicked = e.detail.clickedChair;
                const user = (chairClicked.User) ? chairClicked.User.UserName : "";
                $("#user").val(user);
            });

            // submit
            const form = $('#__AjaxAntiForgeryForm');
            const token = $('input[name="__RequestVerificationToken"]', form).val();
            $("#submit").click(() => {
                $.ajax({
                    method: "POST",
                    url: "/Absences/Prediction",
                    data: {
                        __RequestVerificationToken: token,
                        userName: $("#user").val(),
                        date: shabatPicker.currentShabat.date,
                    },
                    success: (result) => {
                        let responseText = (result == "true") ? "המקום צפוי להיות פנוי" : "המקום צפוי להיות תפוס";
                        $("#response").text(responseText);
                    },
                    error: (err) => {
                        $("#validation-error").text(err.statusText);
                    }
                })
            });
        });

    </script>
}


